<!DOCTYPE html>


<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{default}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CVTITA</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/StyleUser.css">
    <!-- Rita -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
          integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
            integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
            crossorigin="anonymous"></script>
</head>
<body>
<div layout:fragment="content">
    <h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>
    <h2>This is your USER Dashboard</h2>
</div>
<body>
<!--     <div id="header">
    <div class="container">
        <div class="row centered">
            <div class="col-lg-8 col-lg-offset-2">
                <p></p>
                <p></p>
                <p></p>
            </div>
        </div>
    </div>
</div> -->
<!--_______________________________________________________________________________-->
<div id="header1">
    <div class="row">
        <div class="col-lg-9 person_info">
            <legend class="top-help">ПЕРСОНАЛЬНА  ІНФОРМАЦІЯ</legend>
            <div class="col-lg-3 field" >
                <h2 style="margin-bottom: 20px;margin-top: 10px;">Ім`я</h2>
                <h2 style="margin-bottom: 20px;">Дата народження</h2>
                <h2>E-mail</h2>
            </div>
            <div class="col-lg-3 ">
                <input type="text" class="form-control" value="" onfocus="this.style.background = '#D8D8D8';"
                       onblur="this.style.background = '#E6E6E6';"  style="background: #E6E6E6; font-size: 16px; margin-bottom: 10px;">
                <input type="text" class="form-control" value="" onfocus="this.style.background = '#D8D8D8';"
                       onblur="this.style.background = '#E6E6E6';" style="background: #E6E6E6; font-size: 16px; margin-bottom: 10px;">
                <input type="text" class="form-control" value="" onfocus="this.style.background = '#D8D8D8';"
                       onblur="this.style.background = '#E6E6E6';" style="background: #E6E6E6; font-size: 16px; margin-bottom: 10px;">
            </div>
            <div class="col-lg-3 field">
                <h2 style="margin-bottom: 20px;margin-top: 10px;">Прізвище</h2>
                <h2 style="margin-bottom: 20px;">Телефон</h2>
                <h2>Website</h2>
            </div>
            <div class="col-lg-3 ">
                <input type="text" class="form-control" value="" onfocus="this.style.background = '#D8D8D8';"
                       onblur="this.style.background = '#E6E6E6';" style="background: #E6E6E6; font-size: 16px;margin-bottom: 10px;">
                <input type="text" class="form-control" value="" onfocus="this.style.background = '#D8D8D8';"
                       onblur="this.style.background = '#E6E6E6';" style="background: #E6E6E6; font-size: 16px;margin-bottom: 10px;">
                <input type="text" class="form-control" value="" onfocus="this.style.background = '#D8D8D8';"
                       onblur="this.style.background = '#E6E6E6';" style="background: #E6E6E6; font-size: 16px;margin-bottom: 10px;">
            </div>
            <h2 style="color: #607647;font-family: ARIAL;">Адреса</h2>
            <input type="text" class="form-control" value="" onfocus="this.style.background = '#D8D8D8';"
                   onblur="this.style.background = '#E6E6E6';" style="background: #E6E6E6; font-family: ARIAL; font-size: 16px;
                margin-left: 15px;width: 975px;">

            <h2 class="top-help" style="margin-top: 10px;">МЕТА</h2>
            <textarea rows="2" cols="190" name="text" value="" onfocus="this.style.background = '#D8D8D8';"
                      onblur="this.style.background = '#E6E6E6';" style="background: #E6E6E6; font-family: ARIAL; font-size: 16px;
                margin-left: 15px; border-radius: 4px;border: 1px solid lightgrey; width: 975px;"></textarea>

            <h2 class="top-help" style="margin-top: 10px;">ДОСВІД</h2>
            <textarea rows="3" cols="190" name="text" value="" onfocus="this.style.background = '#D8D8D8';"
                      onblur="this.style.background = '#E6E6E6';" style="background: #E6E6E6; font-family: ARIAL; font-size: 16px;
                margin-left: 15px; border-radius: 4px;border: 1px solid lightgrey; width: 975px;"></textarea>

            <h2 class="top-help" style="margin-top: 10px;">ОСВІТА</h2>
            <textarea rows="3" cols="190" name="text" value="" onfocus="this.style.background = '#D8D8D8';"
                      onblur="this.style.background = '#E6E6E6';" style="background: #E6E6E6; font-family: ARIAL; font-size: 16px;
                margin-left: 15px; border-radius: 4px;border: 1px solid lightgrey; width: 975px;"></textarea>
        </div>
        <div class="col-lg-3 person_choose">
            <div style="display: flex;flex-direction: row;margin-left: 65px;margin-top: 13px;">
                <img src="/img/cvita.png" style="height: 60px; width: 180px;">
            </div>
            <br><br>

            <div style="margin-top: 10px;display: flex;flex-direction: column;">
                <button type="button" class="btn btn-outline-success" style="width: 250px;margin:auto;margin-bottom: 25px;height: 55px;">
                    <img src="https://image.flaticon.com/icons/png/512/448/448720.png" style="height: 30px;width: 30px;">
                    <span style="font-size: 18px;">&nbsp;Просмотр</span></button>
                <button type="button" class="btn btn-outline-danger" style="width: 250px;margin:auto;margin-bottom:25px;height: 55px;">
                    <img src="https://image.flaticon.com/icons/svg/148/148730.svg" style="height: 30px;width: 30px;">
                    <span style="font-size: 18px;">&nbsp;Сохранить</span></button>
                <button type="button" class="btn btn-outline-info" style="width: 250px;margin:auto;">
                    <img src="https://image.flaticon.com/icons/svg/955/955015.svg" style="height: 30px;width: 30px;height: 46px;">
                    <span style="font-size: 18px;">&nbsp;Скачать</span></button>
            </div>
        </div>
    </div>
</div>
<!--_______________________________________________________________________________-->
<footer id="foot">
    <div class="container">
        <div class="icons">
            <a href="https://uk-ua.facebook.com/" title="facebook"><img src="/img/facebook.png" alt="facebook">Facebook</a>
            <a href="https://www.instagram.com/?hl=uk" title="instagram"><img src="/img/instagram.png" alt="instagram">Instagram</a>
            <a href="https://twitter.com/?lang=ru" title="twitter"><img src="/img/twitter.png" alt="twitter">Twitter</a>
            <a href="https://www.skype.com/uk/" title="skype"><img src="/img/skype.png" alt="skype">Skype</a>
            <a href="https://www.whatsapp.com/?l=uk" title="whatsapp"><img src="/img/whatsapp.png" alt="whatsapp">WhatsApp</a>
        </div>
    </div>
</footer>
<div class="end">
    <div style="margin-top: 3px;">
        <p>&nbsp;&nbsp;CVITA © 2018 - 2019. Всі права захищені&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
    </div>
    <div style="margin-top: 3px;">
        <p>Угода з користувачем і політика приватності&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
    </div>
    <div style="margin-top: 3px;">
        <p>Зворотній зв'язок</p>
    </div>
</div>
<!--_______________________________________________________________________________-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
</body></html>