@import url('https://fonts.googleapis.com/css?family=Lato|Raleway');

* {
    padding: 0;
    margin: 0
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Raleway";
    font-weight: 300;
    color: #333;
}
a {
    color: #f85c37;
}

a:hover,
a:focus {
    color: black;
    text-decoration: none;
    outline: 0;
}

p {
    line-height: 28px;
    margin-bottom: 25px;
}

.centered {
    text-align: center;
}

.zagolovok{
        width: 100%;
        height: 55px;
        background-color: silver;
        display: flex;
        flex-direction: row;
}

.dropdown{
        position: absolute;
        left: 60%;
    }

#header1 {
    background: url(/img/header.jpg) no-repeat center top;

    padding-top: 10px;
    text-align: center;
    background-attachment: relative;
    background-position: center center;
    min-height: 320px;
    width: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#header2 {
    padding-top: 10px;
    text-align: center;
    background-attachment: relative;
    background-position: center center;
    min-height: 300px;
    width: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#foot {
    margin-top: 10px;
    color: black;
    background: white;
    border:1px solid grey;
    padding-top: 15px;
    padding-bottom: 35px;
}

#foot h4 {
    color: black;
    font-family: serif;
    font-size: 15px;
}

#foot a {
    margin-right: 20px;
}

.icons {
    text-align: center;
    margin-top: -10px;
    display: flex;
    flex-direction: row;
    width: 10px;
    height: 10px;

}
.end{
    width: 100%;
    height: 38px;
    background-color: silver;
    color:white;
    font-size: 13px;
    display: flex;
    flex-direction: row;
}
