<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	 <!--fonts-->
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,300italic,400italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link rel="shortcut icon" href="images.ico">
    <!-- Global CSS -->
    <link rel="stylesheet" href="data/plugins/bootstrap/css/bootstrap.min.css">
    <!-- Plugins CSS -->
    <link rel="stylesheet" href="data/plugins/font-awesome/css/font-awesome.css">
    <!-- Theme CSS -->
    <link id="theme-style" rel="stylesheet" href="data/css/styles.css">
    
</head>
<body>
	 <aside class="skills aside section">
                <div class="section-inner">
                    <h2 class="heading">Співпадіння за вашим пошуком</h2>
                    <div class="content">
                        <div class="skillset">

                            <div class="item">
                                <h3 class="level-title"><a href="./data/cv/na.pdf" style="color:black">Андрій Рушмановський</a><span class="level-label" data-toggle="tooltip" data-placement="left" data-animation="true" title="Співпадіння навиків">75%</span></h3>
                                <div class="level-bar">
                                    <div class="level-bar-inner" data-level="75%">
                                    </div>
                                </div><!--//level-bar-->
                            </div><!--//item-->

                            <div class="item">
                                <h3 class="level-title"><a href="./data/cv/h.pdf" style="color:black">Андрій Несторов</a><span class="level-label" data-toggle="tooltip" data-placement="left" data-animation="true" title="Співпадіння навиків">60%</span></h3>
                                <div class="level-bar">
                                    <div class="level-bar-inner" data-level="60%">
                                    </div>
                                </div><!--//level-bar-->
                            </div><!--//item-->

                            <div class="item">
                                <h3 class="level-title"><a href="./data/cv/j.pdf" style="color:black">Олексій Барілов</a><span class="level-label" data-toggle="tooltip" data-placement="left" data-animation="true" title="Співпадіння навиків">35%</span></h3>
                                <div class="level-bar">
                                    <div class="level-bar-inner" data-level="35%">
                                    </div>
                                </div><!--//level-bar-->
                            </div><!--//item-->
                        </div>
                    </div><!--//content-->
                </div><!--//section-inner-->
            </aside><!--//section-->
</body>
<!-- Javascript -->
<script type="text/javascript" src="data/plugins/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="data/plugins/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="data/plugins/jquery-rss/dist/jquery.rss.min.js"></script>
<script type="text/javascript" src="data/js/main.js"></script>
</html>