<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CVTITA</title>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/myStyle.css">
    <!-- Rita -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
    <script type="text/javascript">
    function loadJsonInfo() {
        document.getElementById("status").innerHTML = "Please wait!";
        var request = new XMLHttpRequest();
        request.open("POST", "./awardPowerup", true);

        var nameTemplates = document.getElementById("nameTemplates").value;
        var playerId = document.getElementById("playerId").value;
        var env = document.getElementById("env").value;
        request.setRequestHeader("Content-Type", "application/json");
        var ob = {
            "nameTemplates": nameTemplates,
            "playerId": playerId,
            "env": env
        }
        request.send(JSON.stringify(ob));

        request.onreadystatechange = function() {
            if (request.readyState == 4) {
                document.getElementById("status").innerHTML = "Response received";
                var obj = JSON.parse(request.responseText);

                document.getElementById("response").innerHTML = JSON.stringify(obj, null, 4);
                //         document.getElementById("info").innerHTML=info;
            } else {
                document.getElementById("status").innerHTML = "Response received";
                document.getElementById("response").innerHTML = request.responseText;
            }
        }
    }
    </script>
</head>
<!--_______________________________________________________________________________-->

<body>
    <div class="zagolovok">
        <div style="display: flex;flex-direction: row;margin-top: 9px;margin-left: 32px;">
            <img src="../static/img/cvita.png" style="height: 40px; width: 120px; ">
        </div>
        <div class="dropdown1">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" 
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background-color: silver;
            border: 1px solid silver;height: 50px; color: white; font-size: 17px;font-family: 'ARIAl';margin-left: 15px;">
                Language
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                <button class="dropdown-item" type="button" style="font-family: 'comic sans ms'">
                    <img src="https://image.flaticon.com/icons/svg/299/299700.svg" style="height: 20px;width: 20px;"> 
                <a href="index_rus.html">Русский</a></button>
                <button class="dropdown-item" type="button" style="font-family: 'comic sans ms'">
                    <img src="https://image.flaticon.com/icons/svg/299/299803.svg" style="height: 20px;width: 20px;">
                     <a href="index.html"> Український</a></button>
                <button class="dropdown-item" type="button" style="font-family: 'comic sans ms'">
                    <img src="https://image.flaticon.com/icons/svg/299/299688.svg" style="height: 20px;width: 20px;">
                     English</button>
            </div>
        </div>
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background-color: silver;border: 1px solid silver;height: 50px; color: white; font-size: 17px;font-family: 'ARIAl';">
                Registration form
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenu3">
                <button class="dropdown-item" type="button" style="font-family: 'ARIAl'; font-size: 14px;">
                    <div class="form-group">
                        <label for="exampleDropdownFormEmail2">Email address</label>
                        <input type="email" class="form-control" id="exampleDropdownFormEmail2" placeholder="email@example.com">
                    </div>
                    <div class="form-group">
                        <label for="exampleDropdownFormPassword2">Password</label>
                        <input type="password" class="form-control" id="exampleDropdownFormPassword2" placeholder="Password">
                    </div>
                    <button type="submit" class="btn btn-primary" style="margin-left: 20px; font-size: 10px; 
                    background-color: silver;">Sign in</button>
                    <button type="submit" class="btn btn-primary" style="margin-left: 20px; font-size: 10px;
                    background-color: silver;">Реєстрація</button>
                </button>
            </div>
        </div>
        <!--         <form class="form-inline">
            <div class="form-group mx-sm-3 mb-2" style="margin-top: 0px;">
                <label for="inputPassword2" class="sr-only" style="margin-left: 5px;">Логин</label>
                <input type="text" class="form-control" id="inputPassword2" placeholder="Поиск">
                <button type="submit" class="btn btn-primary mb-2" style="margin-top: 7px;background-color: black;border:3px solid black">Поиск</button>
            </div>
        </form> -->
    </div>
    <!--_______________________________________________________________________________-->
    <div id="header1">
        <div class="container">
            <div class="row centered">
                <div class="col-lg-8 col-lg-offset-2">
                    <div style="height: 90px;width: auto;color:white;
                    font-family: 'ARIAL BLACK';font-size: 40px;text-align: left;">
                        Selection of specialists: </br>search IT specialists
                    </div>
                    <div style="margin-top: 5px;height: 110px;width: auto;margin-top: 30px;
                    color:white;font-family: 'ARIAL';font-size: 24px;text-align: left;">
                        Choice of specialists with guaranteed </br>qualifications by HR managers 
                    </div>
                    <div>
                        <a class="btn btn-primary" href="#" role="button" style="height: 50px;
                        width: auto;font-size: 23px;margin-right: 550px;
                        background-color: silver;border:4px solid silver;">Create a request</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="header2">
        <div class="container">
            <div class="row centered">
                <div class="col-lg-8 col-lg-offset-2">
                    <div style="height: 30px;width: auto;color:#6C672D;
                    font-family: 'ARIAL BLACK';font-size: 40px;text-align: left;">
                        For job-seeker:
                    </div>
                    <div style="margin-top: 5px;height: 130px;width: auto;margin-top: 30px;
                    color:#6C672D;font-family: 'ARIAL';font-size: 24px;text-align: left;">
                        Creating a CV that is accredited by the site</br>
                        confirmation of the qualification</br>
                        additional training
                    </div>
                    <div>
                        <a class="btn btn-primary" href="#" role="button" style="height: 50px;
                        width: auto;font-size: 23px;margin-right: 590px;
                        background-color: silver;border:4px solid silver;">Registration</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--_______________________________________________________________________________-->
    <div id="1" class="container prog">
    </div>
    <!--_______________________________________________________________________________-->
    <p id="2"></p>
    <div class="container gallery">
    </div>
    <!--_______________________________________________________________________________-->
    <footer id="foot">
        <div class="container">
            <div class="icons">
                <a href="https://uk-ua.facebook.com/" title="facebook" style="color: black;">
                    <img src="../static/img/facebook.png" alt="facebook">Facebook</a>
                <a href="https://www.instagram.com/?hl=uk" title="instagram" style="color: black;">
                    <img src="../static/img/instagram.png" alt="instagram">Instagram</a>
                <a href="https://twitter.com/?lang=ru" title="twitter" style="color: black;">
                    <img src="../static/img/twitter.png" alt="twitter">Twitter</a>
                <a href="https://www.skype.com/uk/" title="skype" style="color: black;">
                    <img src="../static/img/skype.png" alt="skype">Skype</a>
                <a href="https://www.whatsapp.com/?l=uk" title="whatsapp" style="color: black;">
                    <img src="../static/img/whatsapp.png" alt="whatsapp">Whatsapp</a>
            </div>
        </div>
    </footer>
    <div class="end">
        <div style="margin-top: 3px;">
            <p>&nbsp;&nbsp;CVITA © 2018 - 2019. All rights reserved&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
        </div>
        <div style="margin-top: 3px;">
            <p>User's agreement and privacy policy&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
        </div>
        <div style="margin-top: 3px;">
            <p>Feedback</p>
        </div>
    </div>
    <!--_______________________________________________________________________________-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
</body>

</html>